Hi

In [1]:
5

5

In [6]:
total_profit=100

In [7]:
print(total_profit, "This is total profit")

100 This is total profit

In [2]:
5

5

In [10]:
# This is a comment
net_profit=1
print(net_profit, "Hi")

1 Hi

In [15]:
favorite_num=5
favorite_num==6
not favorite_num==6

True

In [16]:
color1, color2, color3 = "red", "green", "blue"

In [17]:
color4 = color5 = color6 = "magenta"

In [18]:
color2
color5

'magenta'

In [19]:
color2

'green'

In [21]:
year=2020

In [22]:
year

2020

In [23]:
type(year)

int

In [24]:
5//2

2

In [25]:
5//3

1

In [26]:
today="Saturday"

In [27]:
today

'Saturday'

In [28]:
today.upper()

'SATURDAY'

In [29]:
another_day = today.replace("Satur", "Wednes")
today

'Saturday'

In [30]:
another_day

'Wednesday'

In [31]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [33]:
fruits = ['apple', 'banana', 'cherry']

In [34]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [35]:
a_list[2:]

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [36]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [37]:
a_list[:5]

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry']]

In [38]:
fruits[1] = 'blueberry'

In [39]:
fruits

['apple', 'blueberry', 'cherry']

In [40]:
fruits.append('dates')

In [41]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

In [42]:
fruits.insert(1, 'banana')

In [43]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

In [44]:
fruits.remove('blueberry')

In [45]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [46]:
fruits.pop(1)

'banana'

In [47]:
fruits

['apple', 'cherry', 'dates']

In [49]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [50]:
more_fruits_copy = more_fruits.copy()

In [51]:
more_fruits

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [53]:
more_fruits_copy

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [54]:
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'dates', 'tomato', 'guava', 'dates']

In [60]:
a_number=34

In [63]:
if a_number % 2 == 0:
    print('the given number {} is even.'.format(a_number))
else:
    print('The given number {} is odd.'.format(a_number))

the given number 34 is even.

In [64]:
b_number=25

In [67]:
if a_number % 2 == 0:
    print('the given number {} is even. {}'.format(a_number))
else:
    print('The given number {} is odd. {}'.format(a_number))

IndexError: Replacement index 1 out of range for positional args tuple

In [69]:
result = 1
i = 1

while i <=100:
    result = result * i
    i = i+1
    
print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [73]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [79]:
i=1
result=1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached. Stopp execution.')
        break
    i+=1
print('i:', i)
print('result',result)

Magic number 42 reached. Stopp execution.
i: 42
result 1405006117752879898543142606244511569936384000000000

In [80]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [82]:
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}
for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [84]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [85]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

In [86]:
for key, value in person.items():
    print("Key:", key, ",","Value:", value)

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [87]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [88]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [89]:
for i in range(3, 14, 4):
    print(i)

3
7
11

In [90]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for i in range(len(a_list)):
    print('The value at position {} is {}'.format(i,a_list[i]))

The value at position 0 is Monday
The value at position 1 is Tuesday
The value at position 2 is Wednesday
The value at position 3 is Thursday
The value at position 4 is Friday

In [91]:
def say_hello():
    print('Hello there!')
    print('How are you?')

In [92]:
say_hello()

Hello there!
How are you?

In [93]:
def say_hello(name):
    print('Hello {}'.format(name))

In [95]:
say_hello("Sam")

Hello Sam

In [96]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [97]:
even_list = filter_even([1,2,3,4,5,6,7])

In [98]:
even_list

[2, 4, 6]

In [101]:
filter_even([1,5])

[]

In [102]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

In [103]:
loan_emi(1260000)

The EMI is $105000.0

In [104]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}'.format(emi))

In [105]:
loan_emi(1260000,8*12)

The EMI is $13125.0

In [106]:
loan_emi(1260000, 10*12)

The EMI is $10500.0

In [109]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi

In [110]:
emi1=loan_emi(1.26e6,8*12)

In [111]:
emi2=loan_emi(1260000,10*12)

In [112]:
emi1

13125.0

In [113]:
emi2

10500.0

In [122]:
def loan_emi(amount, duration, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount / duration
    return emi

In [123]:
emi1 = loan_emi(1260000, 8*12, 3e5)

In [124]:
emi1

10000.0

emi2=loan_emi(1260000,10*12

In [125]:
emi2=loan_emi(1260000,10*12)

In [126]:
emi2

10500.0

In [127]:
emi2-emi1

500.0

In [135]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount*rate*((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi

In [137]:
loan_emi(1260000, 8*12, 0.1/12 , 3e5)

14567.19753389219

In [138]:
loan_emi(12600000,10*12,0.08/12)

152872.76888775075

In [146]:
emi1=loan_emi(
    amount=1260000,
    duration=8*12,
    rate=0.1/12,
    down_payment=3e5
)

In [147]:
emi1

14567.19753389219

In [148]:
5//2

2

In [149]:
5/2

2.5

In [150]:
emi1 = int(emi1+1)

In [151]:
emi1

14568

In [20]:
import math

In [153]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [155]:
math.ceil(1.2)

2

In [156]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [157]:
emi1

14568

In [159]:
try:
    print("Now computing the result...")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
        print("Failed to compute result because you were trying tro divide by zero")
        result=None
print(result)

Now computing the result...
Failed to compute result because you were trying tro divide by zero
None

In [160]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [161]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [162]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)
emi_without_interest

834

In [163]:
total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [164]:
print("The total interest paid is ${}.".format(total_interest))

The total interest paid is $51960.

In [165]:
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [166]:
help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal montly installment (EMI) for a loan.

    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)

In [8]:
def vacation(flight, hotel, car):
    """
    Calculates which week vacation is cheapest
    """
    total_cost = flight + hotel*7 + car
    return total_cost

In [9]:
paris = [200,20,200]
london = [250,30,120]
dubai = [370,15,80]
mumbai = [450,10,70]

In [10]:
paris_cost = vacation(paris[0],paris[1],paris[2])
paris_cost

540

In [11]:
cities = [paris, london, dubai, mumbai]
cities

[[200, 20, 200], [250, 30, 120], [370, 15, 80], [450, 10, 70]]

In [12]:
for city in cities:
    city_cost = vacation(city[0],city[1],city[2])
    print(city,city_cost)

[200, 20, 200] 540
[250, 30, 120] 580
[370, 15, 80] 555
[450, 10, 70] 590

In [13]:
cities = {
    'Paris': [200,20,200],
    'London': [250,30,120],
    'Dubai': [370,15,80],
    'Mumbai': [450,10,70]
}

In [14]:
for key, value in cities.items():
    key_cost = vacation(value[0],value[1],value[2])
    print(key,key_cost)

Paris 540
London 580
Dubai 555
Mumbai 590

In [15]:
def vacation2(flight, hotel, car):
    """
    Calculates which week vacation is cheapest
    """
    total_cost = flight + hotel*14 + car*2
    return total_cost

In [16]:
for key, value in cities.items():
    key_cost = vacation2(value[0],value[1],value[2])
    print(key,key_cost)

Paris 880
London 910
Dubai 740
Mumbai 730

In [27]:
def vacation3(flight, hotel, car):
    """
    Calculates which week vacation is cheapest
    """
    total_cost = 0
    for i in range(1,50):
        if total_cost > 1000: 
            i-=2
            total_cost = flight + hotel*i + car*math.ceil(i/7)  
            break
        else:
            total_cost = flight + hotel*i + car*math.ceil(i/7)
            i+=1
    return [total_cost, i]

In [28]:
for key, value in cities.items():
    key_cost = vacation3(value[0],value[1],value[2])
    print(key,key_cost)

Paris [880, 14]
London [910, 14]
Dubai [925, 21]
Mumbai [1000, 27]